<nav class="navbar navbar-light navbar-expand-md bg-transparent justify-content-center ">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto main-text">DropNotes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="navbarSupportedContent">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link hvr-underline-from-left" href="views/content.html">Indice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-left" target="_blank"
                    href="https://github.com/CMOISDEAD/CMOISDEAD.github.io">Source</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-left" target="_blank"
                    href="https://github.com/CMOISDEAD/CMOISDEAD.github.io">More</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-left" href="views/about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-left" target="_blank"
                    href="https://github.com/CMOISDEAD/">Contact</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link hvr-reveal" href="/login">Theme <i class="fas fa-adjust"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-reveal" href="/register">Account <i class="fas fa-user-ninja"></i></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link hvr-icon-hang" id="gatillo"><i class="fas fa-angle-double-left"></i></a>
            </li>
        </ul>
    </div>
</nav>