<nav class="navbar navbar-light navbar-expand-md bg-transparent justify-content-center ">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto main-text">DropNotes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link hvr-underline-from-left" target="_blank" href="https://github.com/CMOISDEAD/CMOISDEAD.github.io">Source</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-left" target="_blank" href="#">Codeply</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-left" target="_blank" href="https://github.com/CMOISDEAD/CMOISDEAD.github.io">Code</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-left" target="_blank" href="about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-left" target="_blank" href="https://github.com/CMOISDEAD/">Contact</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link hvr-reveal" href="#">Theme <i class="fas fa-adjust"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-reveal" href="#">Account  <i class="fas fa-user-ninja"></i></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link hvr-icon-hang" id="gatillo"><i class="fas fa-angle-double-left"></i></a>
            </li>
        </ul>
    </div>
</nav>