<div class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col mt-1">
                <div class="code-text text-center">DropNotes</div>
                <p>Lorem ipsum dolor sit amet consectetur, officia sed!officia sed!,sit amet consectetur.</p>
                <div class="icons-grid row text-center">
                    <div class="col">
                        <a href="#" class="hvr-float">
                            <i class="fab fa-github "></i>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="hvr-float">
                            <i class="fas fa-couch"></i>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="hvr-float">
                            <i class="fas fa-book-dead"></i>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="hvr-float">
                            <i class="fab fa-creative-commons-sampling"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col mt-1">
                <div class="code-text text-center">DropNotes</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem accusamus nisi, esse aperiam labore
                    qui itaque eius reiciendis fugit obcaecati asperiores, beatae minima sapiente ex repudiandae ipsam
                    ullam magnam? Accusantium?</p>
            </div>
        </div>
    </div>
</div>