{{#> layouts/main page_tittle="Acerca"}}
{{#*inline "main-block"}}

<div class="mt-5">
    <div class="container">
        <div class="h2 text-center">
            About
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus unde itaque asperiores veritatis iste nulla
            quibusdam commodi eligendi excepturi placeat eaque facere maxime, laboriosam quisquam culpa adipisci
            assumenda non eius.</p>
    </div>
</div>

{{/inline}}
{{/layouts/main}}