{{#> layouts/main page_tittle="Contenido"}}
{{#*inline "main-block"}}

<div class="mt-5 mb-5">
    <div class="container">
        <div class="h2 text-center">Contenido</div>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                        href="#list-home" role="tab" aria-controls="home">Home</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                        href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                        href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                        href="#list-settings" role="tab" aria-controls="settings">Settings</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        <div class="h2" class="text-center">main</div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus nostrum,
                        accusantium eos quas tenetur nobis molestias ea tempora, corrupti consectetur, quibusdam
                        explicabo mollitia odit harum quam nesciunt natus fugit!
                        <a href="">
                            <button type="button" class="btn btn-dark">
                                Ir
                            </button>
                        </a>
                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <div class="h2" class="text-center">main</div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus nostrum,
                        accusantium eos quas tenetur nobis molestias ea tempora, corrupti consectetur, quibusdam
                        explicabo mollitia odit harum quam nesciunt natus fugit!
                        <a href="">
                            <button class="btn-dark">
                                Ir
                            </button>
                        </a>
                    </div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <div class="h2" class="text-center">main</div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus nostrum,
                        accusantium eos quas tenetur nobis molestias ea tempora, corrupti consectetur, quibusdam
                        explicabo mollitia odit harum quam nesciunt natus fugit!
                        <a href="">
                            <button class="btn-dark">
                                Ir
                            </button>
                        </a>
                    </div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                        <div class="h2" class="text-center">main</div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus nostrum,
                        accusantium eos quas tenetur nobis molestias ea tempora, corrupti consectetur, quibusdam
                        explicabo mollitia odit harum quam nesciunt natus fugit!
                        <a href="">
                            <button class="btn-dark">
                                Ir
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/inline}}
{{/layouts/main}}