{{#> layouts/main page_tittle="Contenido"}}
{{#*inline "main-block"}}

<div class="mt-5 mb-5">
    <div class="container">
        <div class="h2 text-center">Contenido</div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cumque quisquam eius enim nihil earum,
            expedita corporis illum quae ratione magni perferendis animi nesciunt consequatur recusandae reprehenderit
            iste. Tempore, ipsa?
        </p>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list"
                        href="#list-home" role="tab" aria-controls="home">Home</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                        href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                        href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                        href="#list-settings" role="tab" aria-controls="settings">Settings</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        <div class="h2" class="text-center">Principal</div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus nostrum,
                        accusantium eos quas tenetur nobis molestias ea tempora, corrupti consectetur, quibusdam
                        explicabo mollitia odit harum quam nesciunt natus fugit!
                        <br>
                        <a href="views/index.html">
                            <button type="button" class="btn btn-dark btn-lg hvr-grow-shadow">
                                Ir <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </a>
                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <div class="h2" class="text-center">Estructura</div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus nostrum,
                        accusantium eos quas tenetur nobis molestias ea tempora, corrupti consectetur, quibusdam
                        explicabo mollitia odit harum quam nesciunt natus fugit!
                        <br>
                        <a href="views/structure.html">
                            <button type="button" class="btn btn-dark btn-lg hvr-grow-shadow">
                                Ir <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </a>
                    </div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <div class="h2" class="text-center">Tipos de Datos</div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus nostrum,
                        accusantium eos quas tenetur nobis molestias ea tempora, corrupti consectetur, quibusdam
                        explicabo mollitia odit harum quam nesciunt natus fugit!
                        <br>
                        <a href="views/typeOfData.html">
                            <button type="button" class="btn btn-dark btn-lg hvr-grow-shadow">
                                Ir <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </a>
                    </div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                        <div class="h2" class="text-center">Acerca</div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus nostrum,
                        accusantium eos quas tenetur nobis molestias ea tempora, corrupti consectetur, quibusdam
                        explicabo mollitia odit harum quam nesciunt natus fugit!
                        <br>
                        <a href="views/about.html">
                            <button type="button" class="btn btn-dark btn-lg hvr-grow-shadow">
                                Ir <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <p class="mt-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cumque quisquam eius enim nihil earum,
            expedita corporis illum quae ratione magni perferendis animi nesciunt consequatur recusandae reprehenderit
            iste. Tempore, ipsa?
            Dolor, vitae? Voluptates eius accusamus quasi sint expedita atque voluptatum autem illum in nihil explicabo
            reprehenderit quidem itaque aperiam dolorum fugiat velit, debitis aspernatur numquam assumenda dolore ad
            minima ullam.
            Culpa rem, nostrum quasi earum asperiores similique alias nobis ipsa quibusdam repellat doloribus maxime
            voluptatem in perferendis ipsum aspernatur dolor ab pariatur ex temporibus! Nemo ab nobis voluptatibus ipsam
            autem?
            Nostrum autem optio maiores earum excepturi, natus libero sint, asperiores possimus rem nam esse, voluptates
            quo quibusdam nesciunt repellendus est inventore modi sapiente ipsa labore suscipit obcaecati. Reiciendis,
            saepe quibusdam.</p>        
    </div>
</div>

{{/inline}}
{{/layouts/main}}