{{#> layouts/main page_tittle="home"}}
{{#*inline "main-block"}}

<div class="m-5 main">
    <div class="row mt-5 rounded">
        <div class="col-md-9">
            <p class="h3 m-1 text-center">DropNotes</p>
            <p class="text-start">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
                dolore deleniti quisquam culpa harum aut exercitationem voluptates
                eius minima, unde hic nobis voluptatum officiis quae libero veniam
                quos corporis dolores.
            </p>
            <img src="https://wi.wallpapertip.com/wsimgs/160-1606471_logo-java.png" alt="#"
                class="img-thumbnail img-center" />
            <p class="mt-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Necessitatibus, incidunt rem. Rem consectetur corporis temporibus
                tenetur accusamus pariatur a ab? Eos numquam est vero delectus
                voluptate tenetur officiis non eius? Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Inventore laboriosam repellat libero
                odit blanditiis veniam esse perspiciatis enim ex mollitia, labore
                soluta voluptate consectetur adipisci deserunt eveniet quisquam
                saepe rem?
            </p>
        </div>

        <div class="col text-center side-2">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <div class="h5">Introduction.</div>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="text-start">
                                <a href="#" class="link-cool">
                                    <li>Lenguage.</li>
                                </a><a href="#" class="link-cool">
                                    <li>Java.</li>
                                </a><a href="#" class="link-cool">
                                    <li>Functions.</li>
                                </a><a href="#" class="link-cool">
                                    <li>Why?</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <div class="h5">Type Of Data.</div>
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="text-start">
                                <a href="#" class="link-cool">
                                    <li>Lenguage.</li>
                                </a><a href="#" class="link-cool">
                                    <li>Java.</li>
                                </a><a href="#" class="link-cool">
                                    <li>Functions.</li>
                                </a><a href="#" class="link-cool">
                                    <li>Why?</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            <div class="h5">Control Structures.</div>
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="text-start">
                                <a href="#" class="link-cool">
                                    <li>Lenguage.</li>
                                </a><a href="#" class="link-cool">
                                    <li>Java.</li>
                                </a><a href="#" class="link-cool">
                                    <li>Functions.</li>
                                </a><a href="#" class="link-cool">
                                    <li>Why?</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/inline}}
{{/layouts/main}}