{{#> layouts/main page_tittle="DropNotes" home=true}}
{{#*inline "main-block"}}
<div class="" id="fullpage">
    <div class="section"><img src="https://wallpapercave.com/wp/wp2618282.png" class="img-fluid" alt=""></div>
    <div class="section">
        <div class="slide" data-anchor="slide1">
            <img src="https://fondosmil.com/fondo/29366.jpg" class="img-fluid" alt="">
        </div>
        <div class="slide" data-anchor="slide1">
            <img src="https://images2.alphacoders.com/902/thumb-1920-902946.png" class="img-fluid" alt="">
        </div>
    </div>
    <div class="section "><img
            src="https://dmarket.com/blog/best-dota2-wallpapers/monkey-king-dota-2-wallpapers_hu7862a00d7968f8953de462edfbd284fd_983341_1920x1080_resize_q75_lanczos.jpg"
            class="img-fluid" alt=""></div>
</div>
</div>
{{/inline}}
{{/layouts/main}}