{{#> layouts/main page_tittle="DropNotes" home=true}}
{{#*inline "main-block"}}
<div class="" id="fullpage">
    <div class="section responsive-img1"></div>
    <div class="section ">
        <div class="slide responsive-img2" data-anchor="slide1">
        </div>
        <div class="slide responsive-img3" data-anchor="slide1">
        </div>
    </div>
    <div class="section responsive-img4">
    </div>
</div>
</div>
{{/inline}}
{{/layouts/main}}