{{#> layouts/main page_tittle="DropNotes" home=true}}
{{#*inline "main-block"}}
<div class="" id="fullpage">
    <div class="section responsive-img1">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="h2 code-text2">DropNotes</div>
                    <div class="h5 text-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quibusdam assumenda blanditiis
                        repellendus
                        nostrum, perspiciatis ad quo expedita fugiat tempore aliquid impedit libero saepe amet suscipit
                        ipsam.
                        Culpa, iste assumenda.
                    </div>
                    <div class="text-left mt-4">
                        <div class="btn btn-dark btn-lg hvr-grow-shadow">Aprende ahora mismo! <i class="fas fa-long-arrow-alt-right"></i></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="https://cdn.shopify.com/s/files/1/0259/8515/t/220/assets/logo-n2020.png?v=18261402556515512233"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="section ">
        <div class="slide responsive-img2" data-anchor="slide1">
        </div>
        <div class="slide responsive-img3" data-anchor="slide1">
        </div>
    </div>
    <div class="section responsive-img4">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="h2 text-dark code-text2">
                        Code This
                    </div>
                    <div class="h5 text-dark">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis fugit ad, nobis vero soluta
                        temporibus
                        exercitationem maxime. Perferendis quasi reprehenderit beatae dignissimos nobis ea, ducimus
                        autem itaque
                        atque hic sit.
                    </div>
                    <div class="text-left mt-5">
                        <div class="btn btn-dark btn-lg hvr-grow-shadow">Aprende ahora mismo! <i class="fas fa-long-arrow-alt-right"></i></div>
                    </div>
                </div>
                <div class="col">
                    <pre class=""><code class="language-java">
class HelloWorld {
    public static void main(String[] args) {
        int suma = sumarNumeros(1, 2);
        System.out.println("Resultado :" + suma);
    }

    public static int sumarNumeros(int a, int b){
        int suma = a + b;
        return suma;
    }
}
    </code></pre>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{{/inline}}
{{/layouts/main}}