{{#> layouts/main page_tittle="Lenguaje"}}
{{#*inline "main-block"}}

<div class="mt-5">
    <div class="h3 text-center">
        Lenguaje
    </div>
    <h5>¿Qué es Java?</h5>
    <p>Java es una plataforma informática y a su vez un lenguaje de programación creado en 1995 por la empresa Sun
        Microsystem. El objetivo de este lenguaje es que los programadores sólo tuvieran que escribir el código de un
        programa una vez, y que éste, pudiese ejecutarse en cualquier dispositivo. Esto es posible gracias a la Máquina
        Virtual de Java (JVM), que brinda esa portabilidad necesaria.

        Con Java se pueden crear programas en una gran variedad de dispositivos, permitiendo ejecutar la misma
        aplicación en diversos sistemas operativos.

        El nombre inicial con el que se iba a denominar era Oak, pero al estar la marca registrada se optó por Java.</p>

    <div class="imagen-blog text-center">
        <img src="https://www.mytechvoice.com/wp-content/uploads/2020/10/javalogo-1.png" alt="java"
            class="img-thumbnail">
    </div>

    <h5>Programación en Java</h5>
    <p>
        Java es un lenguaje orientado a objetos, independiente de la plataforma hardware donde se desarrolla, y que
        utiliza
        una sintaxis similar a la de C++ pero reducida. Es un lenguaje con una curva de aprendizaje baja (se puede decir
        que
        es fácil de aprender) y que dispone de una gran funcionalidad de base (incrementada por la gran cantidad de
        código
        de terceros existente). Java, como lenguaje de programación, ofrece un código robusto, que ofrece un manejo
        automático de la memoria, lo que reduce el número de errores.

        La comunidad de programadores Java existente es muy extensa, en torno a los 9 millones en todo el mundo, y muy
        activa, lo que genera una gran cantidad de recursos actualizados.

        Existe un lenguaje de programación llamado Javascript que se presta a confusión por su similitud en el nombre
        con el
        de Java. A pesar del parecido en el nombre, estamos ante dos lenguajes de programación totalmente diferente:
        mientras que Java es un lenguaje orientado a objetos, Javascript es un lenguaje de programación que se basa en
        objetos.
    </p>

    <div class="imagen-blog text-center">
        <img src="https://i.ytimg.com/vi/xoL6WvCARJY/maxresdefault.jpg" alt="root">
    </div>

    <h5>Programar en Java en la actualidad</h5>
    <p>
        Dentro de la gran variedad de lenguajes de programación existentes, Java es uno que está muy extendido (se
        estima
        que está ejecutándose en 15 mil millones de dispositivos) y se encuentra entre los mejor remunerados en la
        industria
        de la programación. Lo cierto es que incluir habilidades en Java al currículum vítae es un valor añadido.

        Java se utiliza en la programación de muchas de las páginas webs más importantes, como Facebook, Amazon o eBay,
        e
        incluso algunos videojuegos de éxito como Minecraft están también programados en Java.

        Para el desarrollo de aplicaciones en la nube, Java se ha convertido en una gran alternativa de programación,
        así
        como para el internet de las cosas, pues se utiliza mucho en electrodomésticos y otros dispositivos de uso en el
        hogar.

        Java es un lenguaje de programación de alto rendimiento lo que lo hace ideal para aplicaciones de procesamiento
        de
        datos, por eso, actualmente, con la ciencia de datos y el Big Data, Java no deja de tomar protagonismo.
</div>
</p>

{{/inline}}
{{/layouts/main}}