{{#> layouts/main page_tittle="Acerca"}}
{{#*inline "main-block"}}

<div class="container mt-5">
    <h2 class="text-center">
        Perfil de ???
    </h2>

    <div class="card">
        <div class="card-head">
            username
        </div>
        <div class="card-body">
            password
        </div>
        <div class="card-footer">
            email
        </div>
    </div>
</div>

{{/inline}}
{{/layouts/main}}