{{#> layouts/main page_tittle="Estructura"}}
{{#*inline "main-block"}}
<div class="col-md-9">
    <div class="text-center h3">Estructura de Java</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, tenetur quos! Quibusdam sit a et sed reiciendis
        vel harum, nesciunt excepturi provident rerum ratione quia voluptas non aperiam labore vitae.
        Temporibus ad, exercitationem a labore veritatis voluptatum velit at numquam neque maiores libero, quibusdam
        consequatur nemo voluptates accusantium mollitia doloremque fuga, cumque expedita quae magni ex fugit aspernatur
        laudantium. Vero.
        Quidem inventore sapiente quam officia tenetur adipisci perferendis optio mollitia accusamus quo voluptate minus
        quos, omnis assumenda modi dicta maiores expedita neque vitae laborum, quod quasi odio, architecto perspiciatis.
        Illo?</p>
    <pre class="ms-5 me-5"><code class="language-java">
class HelloWorld {
    public static void main(String[] args) {
        System.out.println("Hello, World!"); 
    }
}
    </code></pre>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, debitis autem maiores, cum accusantium aperiam
        neque velit ex ipsam in dolor voluptatibus modi, quod earum animi labore similique quo saepe.
        Rerum hic quod pariatur repellat, totam consequatur molestiae suscipit natus. Architecto hic in deserunt
        mollitia nam atque dignissimos voluptas esse omnis. Nihil sint voluptate minus blanditiis totam dignissimos,
        necessitatibus at.
        Laborum dolores itaque corrupti tenetur culpa quibusdam in illo! Eaque officia enim est consequuntur, veritatis
        perferendis voluptates deleniti ex? Modi ex corporis incidunt tenetur nihil error ipsam fugiat voluptate
        officia!
    </p>
    <pre class="ms-5 me-5"><code class="language-java">
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
package co.uniquindio.programacion.Perro;

import javax.swing.JOptionPane;

/**
 *
 * @author camilo
 */
public class Perro {

    public static void main(String[] args) {
        double areaCuadradoPrincipal = 100, areaTotal, areaRestante;
        double base, altura;
        double largo, ancho;
        double lado;

        double areaTriangulo, areaRectangulo, areaCuadrado;
        base = Double.parseDouble(JOptionPane.showInputDialog("Ingresa la base del triangulo: "));
        altura = Double.parseDouble(JOptionPane.showInputDialog("Ingresa la altura del triangulo: "));

        largo = Double.parseDouble(JOptionPane.showInputDialog("Ingresa la base del rectangulo: "));
        ancho = Double.parseDouble(JOptionPane.showInputDialog("Ingresa la altura del rectangulo: "));

        lado = Double.parseDouble(JOptionPane.showInputDialog("Ingresa el lado del cuadrado: "));

        areaTriangulo = CalcularAreaTriangulo(base, altura);
        areaRectangulo = CalcularAreaRectangulo(largo, ancho);
        areaCuadrado = CalcularAreaCuadrado(lado);
        areaTotal = CalcularAreaTotal(areaTriangulo, areaRectangulo, areaCuadrado);

        areaRestante = calcularAreaRestante(areaTotal, areaCuadradoPrincipal);

        Imprimir("El area restante es:"+areaRestante);
    }

    public static double CalcularAreaTriangulo(double base, double altura) {
        double area = (base * altura) / 2;
        return area;
    }

    public static double CalcularAreaRectangulo(double largo, double ancho) {
        double area = (largo * ancho);
        return area;
    }

    public static double CalcularAreaCuadrado(double lado) {
        double area = (lado * lado);
        return area;
    }

    public static double CalcularAreaTotal(double area1, double area2, double area3) {
        double areaTotal = area1 + area2 + area3;

        return areaTotal;
    }

    public static double calcularAreaRestante(double areaPerro, double areaCuadradoPrincipal) {
        double area = (areaPerro - areaCuadradoPrincipal);

        return area;
    }

    public static void Imprimir(String texto) {
        JOptionPane.showMessageDialog(null, texto);
    }
}
    </code></pre>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati facere consequatur eveniet aliquam earum optio
        nam unde cupiditate nesciunt sit, eaque sapiente in expedita. Et ipsa rem laboriosam iusto recusandae.
        Quae temporibus ullam consequatur voluptates explicabo ad animi! Officia dicta animi placeat molestiae
        aspernatur a commodi odit, quod cupiditate nesciunt deleniti laudantium! Quisquam labore molestiae molestias
        velit? Voluptas, unde rerum.
        Sunt est, delectus officia sequi esse reiciendis, cupiditate, autem sed praesentium odio nihil. Maiores,
        pariatur laudantium! Possimus ipsam modi sunt rem corrupti architecto, dicta nesciunt necessitatibus laboriosam
        consequuntur. Porro, libero.</p>
</div>
{{/inline}}
{{/layouts/main}}