{{#> layouts/main page_tittle="DropNotes"}}
{{#*inline "main-block"}}
<div class="col-md-9 mt-5">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam iusto, tempora sequi obcaecati tenetur ratione
        odio dolorem consectetur sint dignissimos quisquam cupiditate quibusdam, laborum error eaque atque, aspernatur
    </p>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th class="scope">#</th>
                <th class="scope">Name</th>
                <th class="scope">Description</th>
                <th class="scope">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="">1</th>
                <td>byte</td>
                <td>Representa un tipo de dato de 8 bits con signo. De tal manera que puede almacenar los valores
                    numéricos
                    de -128 a 127 (ambos inclusive).</td>
                <td>0</td>
            </tr>
            <tr>
                <th class="">2</th>
                <td>short</td>
                <td>Representa un tipo de dato de 16 bits con signo. De esta manera almacena valores numéricos de
                    -32.768 a 32.767.</td>
                <td>0</td>
            </tr>
            <tr>
                <th class="">3</th>
                <td>int</td>
                <td>Es un tipo de dato de 32 bits con signo para almacenar valores numéricos. Cuyo valor mínimo es -231
                    y el valor máximo 231-1.</td>
                <td>0</td>
            </tr>
            <tr>
                <th class="">4</th>
                <td>float</td>
                <td>Es un tipo dato para almacenar números en coma flotante con precisión simple de 32 bits.</td>
                <td>0</td>
            </tr>
            <tr>
                <th class="">5</th>
                <td>long</td>
                <td>Es un tipo de dato de 64 bits con signo que almacena valores numéricos entre -263 a 263-1</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>
{{/inline}}
{{/layouts/main}}