* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff !important; }

.list-group-item {
  transition: all 0.5s; }
  .list-group-item:hover {
    transition: all 0.5s;
    background-color: #000000 !important; }

.link-cool {
  text-decoration: none;
  list-style: decimal-leading-zero;
  color: #212529;
  transition: all 0.5s; }
  .link-cool:hover {
    transition: all 0.5s;
    color: #000000;
    text-decoration: underline; }

.navbar {
  z-index: 1000; }

.bg-transparent {
  background: #00000000;
  color: #ffffff;
  position: absolute; }

