---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Books</h1>
  <p>
    This is a list of some books i've read, i'm reading or i want to read. I
    will try to keep it updated, it's just a list of books that i find
    interesting not is necessarily a list of books that i recommend.
  </p>
  <hr />
  <div>
    <h2>Computer Science</h2>
    <ul>
      <li>
        "The art of computer programming",
        <span class="italic"> Donald E. Knuth, Addison-Wesley</span>
      </li>
      <li>
        "The C programming language",
        <span class="italic"> Brian W. Kernighan, Dennis M. Ritchie</span>
      </li>
      <li>
        "The Go programming language",
        <span class="italic"> Alan A. A. Donovan, Brian W. Kernighan</span>
      </li>
    </ul>
  </div>

  <div>
    <h2>Science</h2>
    <ul>
      <li>
        "The Selfish Gene",
        <span class="italic"> Richard Dawkins</span>
      </li>
    </ul>
  </div>

  <div>
    <h2>Philosophy</h2>
  </div>

  <div>
    <h2>Politics</h2>
    <ul>
      <li>
        "Generación Idiota",
        <span class="italic"> Agustin Laje</span>
      </li>
    </ul>
  </div>

  <div>
    <h2>Theology</h2>
    <ul></ul>
  </div>

  <div>
    <h2>History, Arqueology & Paleontology</h2>
    <ul>
      <li>
        "Sapiens",
        <span class="italic"> Yuval Noah Harari</span>
      </li>
    </ul>
  </div>

  <div>
    <h2>Art</h2>
  </div>

  <div>
    <h2>Fiction</h2>
    <ul>
      <li>
        "Apocalipsis",
        <span class="italic"> Stephen King</span>
      </li>
    </ul>
  </div>
</Layout>
