---
import { getCollection } from "astro:content";

const projects = (await getCollection("projects"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .slice(0, 4)
  .reverse();
---

<ul class="list-decimal">
  {
    projects.map((project) => (
      <li class="my-0">
        <a href={`/projects/${project.slug}/`} class="flex justify-between content-center">
          {project.data.title},  <span class="border border-dashed text-xs p-1">{project.data.status}</span>
        </a>
      </li>
    ))
  }
</ul>
