---
import { getCollection } from "astro:content";

const wiki = (await getCollection("wiki"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .slice(0, 4)
  .reverse();
---

<ul>
  {
    wiki.map((item) => (
      <li class="my-0">
        <a href={`/wiki/${item.slug}`}>{item.data.title}</a>
      </li>
    ))
  }
</ul>
