---
import FormattedDate from "./FormattedDate.astro";

const { post } = Astro.props;
---

<a href={`/blog/${post.slug}/`} class="no-underline hover:cursor-pointer group">
	<div
		class="border-y border-gray-800/20 dark:border-slate-200/20 transition-all hover:border-white"
	>
		<div class="info px-4" transition:name="blog">
			<h4 class="text-lg font-bold truncate group-hover:underline">{post.data.title}</h4>
			<p class="text-sm text-gray-500 truncate">
				{post.data.description}
			</p>
			<p class="text-sm italic text-gray-500">
				<FormattedDate date={post.data.pubDate} />
			</p>
		</div>
	</div>
</a>
