---
import { Icon } from "astro-icon/components";

const today = new Date();
---

<footer
	class="w-full p-2 flex content-center items-center justify-center gap-4 border-t border-slate-200/20 dark:border-gray-800/20 text-sm text-gray-500"
>
	&copy; {today.getFullYear()} CMOISDEAD. All rights reserved.
	<div class="flex gap-4 justify-between content-center items-center">
		<a
			href="https://github.com/CMOISDEAD"
			target="_blank"
			class="text-xl hover:text-white transition-all"
		>
			<Icon name="codicon:github" />
		</a>
		<a
			href="https://camilodavila.vercel.app"
			target="_blank"
			class="text-xl hover:text-white transition-all"
		>
			<Icon name="codicon:variable-group" />
		</a>
	</div>
</footer>
