---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="border-b border-gray-800/20 dark:border-slate-200/20 p-3">
	<nav class="flex justify-between content-center items-center gap-4">
		<h2 class="flex-grow">
			<a href="/" class="flex gap-2 content-center items-center">
				<img src="/favicon.svg" alt="logo" class="w-10 h-10" />
			</a>
		</h2>
		<div class="flex gap-4 justify-center">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/projects" class="hidden lg:block">Projects</HeaderLink>
			<HeaderLink href="/wiki" class="hidden lg:block">Wiki</HeaderLink>
			<HeaderLink href="/researches">Researches</HeaderLink>
			<HeaderLink href="/books">Books</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div
			class="hidden md:flex gap-4 italic text-gray-500 flex-grow justify-end text-xs"
		>
			{SITE_TITLE}
		</div>
	</nav>
</header>
