---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div>
    <h1 class="border-b-2 border-zinc-800 mb-0">Projects</h1>
    <p>
      This page includes a list of personal projects I've developed/am
      developing in my free-time.
    </p>
  </div>
</Layout>
