---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<Layout>
  <div>
    <h1 class="border-b-2 border-zinc-800 mb-0">Projects</h1>
    <p>
      This page includes a list of personal projects I've developed/am
      developing in my free-time.
    </p>
    <ul>
      {
        projects.map((item) => (
          <li>
            <a href={`/projects/${item.slug}`}>{item.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
