---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div>
    <h1 class="border-b-2 border-zinc-800 mb-0">Researches</h1>
    <p>
      This page includes a list of completed research projects and papers,
      including work done independently as well as projects for university
      courses.
    </p>
  </div>
</Layout>
